@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Project List</h1>
    <table class="table">
    <thead>
        <tr>
            <th>
                Project Name
            </th>
            <th>
                Required Hours
            </th>
            <th>
                Completed
            </th>
            <th>
                Assigned Time
            </th>
        </tr>
    </thead>
    <tbody>
</table>

</div>
